MailerService/obj
MailerUI/obj
TH.Mailer/obj
TH.Mailer.suo
MailerUI/1-MailerUI.csproj.user
MailerUI/frmAddEmailList.resources
MailerUI/frmAddIpSetting.resources
MailerUI/frmAddSMTPList.resources
MailerUI/frmImportEmail.resources
MailerUI/frmImportSMTP.resources
MailerUI/frmIpSetting.resources
MailerUI/frmRouteSetting.resources
MailerUI/frmSendEmail.resources
MailerUI/frmSendSetting.resources
MailerUI/frmTemplate.resources
MailerUI/frmMain.resources
MailerUI/frmModelSetting.resources
MailerUI/frmTestIP.resources
MailerUI/frmTestModel.resources
MailerUI/frmTestRoute.resources
MailerUI/frmTestTY.resources
MailerUI/frmTYSetting.resources
MailerUI/frmView.resources
MailerUI/Properties/Resources.resources
bin/MailerService.pdb
bin/MailerUI.pdb
bin/MailerUI.vshost.exe
bin/MailerUI.vshost.exe.config
bin/MailerUI.vshost.exe.manifest
bin/TH.Mailer.pdb
